@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+SC&display=swap');
body {
    text-align: center;
    font-family: 'Alegreya', serif;
    font-family: 'Alegreya SC', serif;
    background-color: #1A1B1A;
    color: #d6d1c9;
}

.app-bar {
    background-color: #353635;
    color: #d6d1c9;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 20px;
}

.brand {
    width: 128px;
}

h1 {
    line-height: 4.2;
}

.homeImg {
    padding: 0.5rem 2rem;
}

#homeText {
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-size: 1.5em;
}