@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+SC&display=swap');
body {
    text-align: center;
    font-family: 'Alegreya', serif;
    background-color: #1A1B1A;
    color: #d6d1c9;
}

.app-bar {
    background-color: #353635;
    color: #d6d1c9;
    font-family: 'Alegreya', serif;
    font-weight: bold;
    font-size: 20px;
}

.brand {
    width: 128px;
}


/*home*/

h1 {
    line-height: 4.2;
}

.homeImg {
    padding: 0.5rem 2rem;
}

#homeText {
    margin: 2rem 0;
    padding: 1rem 2rem;
    font-size: 1.5em;
}


/*forms*/

form#contactUs input[type=text],
form#contactUs input[type=textarea] {
    font-family: 'Alegreya SC', serif;
    width: 50%;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin: .5rem 0 2rem 0;
}

form#checkoutaddressform input[type=text],
form#checkoutaddressform input[type=select] {
    font-family: 'Alegreya SC', serif;
    width: 50%;
    padding: 1.5rem;
    border: 1px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
    margin: .5rem 0 2rem 0;
}

form#checkoutaddressform input[type=text] {
    margin-left: 26%;
}

select#country,
select#scountry {
    width: 50% !important;
    margin-left: 26%;
}

input[type=submit],
.btnCSS {
    font-family: 'Alegreya SC', serif;
    font-weight: bold;
    background-color: #d6d1c9;
    color: #353635;
    padding: .5rem;
    font-size: medium;
    height: auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #d7c3ac;
}

label {
    text-align: left;
    margin-left: -40%;
}

legend {
    font-size: x-large;
    margin: 1rem;
}

div#shippingsame {
    margin: 2rem 37% 2rem 2rem;
    font-size: medium;
}


/*Cart*/

.group-list.horizontal {
    border: transparent;
    position: sticky;
    bottom: 10px;
}

li {
    border-left: transparent !important;
}

#potionscart {
    margin: 1.5em 0;
}

.potionscart {
    border: 1px solid transparent;
    border-collapse: collapse;
    border-spacing: 0;
    width: 75%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
}

.potionscart th {
    font-size: 1.3em;
    padding: 0.3em;
    width: 33.3%;
    border: 1px solid transparent;
    text-transform: uppercase;
}

.potionscart td {
    padding: 0.3em;
    width: 33.3%;
    border: 1px solid transparent;
}

#subtotal,
#shipping {
    margin: 1rem 19% 1rem 1rem;
    text-align: right;
}


/*potions*/

#products ul,
ul {
    margin: 1.5em 0;
    padding: 0;
    list-style-type: none !important;
    list-style: none !important;
}

#products li {
    margin: 0 1%;
}

.productdescription {
    margin: 0;
    padding: 1em;
    border-radius: 5px;
    float: left;
}

.productname {
    text-align: center;
    margin: 0;
    font-size: 1.4em;
    padding-bottom: 0.2em;
    border-bottom: 1px dotted #848487;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.productprice {
    font-size: 1.2em;
    text-align: center;
    border-radius: 50%;
}

form.addtocart div,
form.addtocart p {
    text-align: center;
    display: inline-block;
}

form.addtocart {
    margin-bottom: 0.4rem;
}

form input.qty {
    width: 40px;
    font-size: 1em;
    border-radius: 3px;
    margin-left: 0.4em;
}

div.row.flex-align-center {
    border: 1px dashed #848487;
    border-radius: 10px;
    width: 400px;
    margin: 0.4rem auto;
}